TELEGRAM_TOKEN=
TELEGRAM_OWNER_ID=
NOTION_TOKEN=
NOTION_EXPENSES_DB_ID=
NOTION_BUDGETS_DB_ID=
OPENROUTER_API_KEY=
OPENROUTER_MODEL=google/gemini-2.5-flash
APP_TIMEZONE=America/Guatemala
PAY_DATE_DAY=
